<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao-login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaocc0faae5b1dd0468f0440656b12b8601</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>naver-login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.ubase.uclass.store</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>중요한 공지사항과 채팅 메시지 알림을 받기 위해 알림 권한이 필요합니다.</string>
	<key>NidAppName</key>
	<string>UClass</string>
	<key>NidClientID</key>
	<string>oufNfbD28qY5eVSS93r5</string>
	<key>NidClientSecret</key>
	<string>tykNG6qXDa</string>
	<key>NidUrlScheme</key>
	<string>com.ubase.uclass.store</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIColorName</key>
	<string>LaunchScreenBackgroundColor</string>
	<key>UIImageName</key>
	<string>LaunchImage</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackgroundColor</string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
